body {
  margin: 0;
  font-family: "lexend deca", "arial",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ced4da;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 1rem;
  height: 100vh;
  text-align: left;
}

.big-card{
  background-color: white;
  padding: 1em;
  border-radius: 1rem;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.title {
  text-decoration: underline;
  text-align: left;

}

.card {
  text-align: left;
  padding: 0.5em;
  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-name {
  margin: 0;
}

.card-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding-top: 3rem;
}
.navbar {
  width: 100%;
	background-color: #d7d7d7;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  z-index: 5px;
  padding-top: 5px;
  text-decoration: none;
  background-image: linear-gradient(rgb(206, 206, 206), rgb(171, 171, 171));

}

.navbar-link{
  color: black;
}

.active{
  color: rgb(46, 65, 234);
}

.navbar-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.navbar-item{
  font-size: 1.2rem;
}

.search-bar-group {
  position: sticky;
  top: 5px;
}

.search-bar {
  display: block;
  width: 85%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  padding-left: 2.375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 25px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-size: 1.5em;
}

.margin-0 {
  margin: 0;
}

.circle {
  background-color: #F80;
  border: 3px solid #FFF;
  border-radius: 18px;
  color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 0 1.5px #888;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.attending {
  display: flex;
  flex-direction: row;
}
.attending-name {
  text-align: center;
  width: 30px;
  font-size: 0.6rem;
}

.plus {
  background-color: #818b95;
  font-size: 0.9rem;
}

.plus > .initial {
  padding-top: 0.3rem;
}

.map {
  border-radius: 1rem;
  overflow: hidden;
}

.join-button {
  color: white;
  background-color: red;
  padding: 0.5rem;
  border-radius: 2rem;
  width: 10rem;
  border: none;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.pin {
  color: red
}

.top-nav {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-nav > .back {
  color: darkturquoise;
  font-size: 1.5rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.text-shadow {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

