body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 1rem;
}

.title {
  text-decoration: underline;
  justify-items: left;
  justify-content: left;
  justify-self: left;
}

.card {
  padding: 0.5em;
  border-radius: 1.5em;
  color: white;
  display: flex;
  height: 150px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.navbar {
  width: 100%;
	background-color: #d7d7d7;
	position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  outline:none;
  border:none;
  background: #fff;
  width: 50px;
  height:50px;
  border-radius: 25px;
  opacity: 0;
  z-index:5;
  transition: all 0.2;
  font-size: 1em;
}